footer{
    background-color: rgb(179, 243, 171);
    
    height: 15vh;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.boton{
    height: 15vh;
    width: 10vw;
    background-color: rgb(179, 243, 171);
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.boton:hover{
    
    background-color: rgb(180, 236, 150);
    
}
