<div>
    <h1>Node Y Express</h1>
    <div id="cartas">
        <div class="carta" routerLink="node">
            <figure><img src="assets/1_bc9pmTiyKR0WNPka2w3e0Q.png" alt="node" ></figure>
            <h2>Node</h2>
            <p>Node.js es un entorno de ejecución del lado del servidor basado en JavaScript,
                 conocido por su naturaleza no bloqueante y orientada a eventos. 
                 Permite construir aplicaciones web y APIs altamente escalables,
                  destacándose por su eficiencia al ejecutar JavaScript fuera del navegador.
                 Su popularidad se debe a su capacidad para manejar conexiones concurrentes y facilitar el desarrollo ágil de aplicaciones modernas.
            </p>
                <h4>Haz click para saber mas de Node.js</h4>
        </div>
        <div class="carta" routerLink="express">
            <figure><img src="assets/express-1.png" alt="node" ></figure>
            <h2>Express</h2>
            <p>Express.js, un marco de aplicación web para Node.js,
                 agiliza el desarrollo de servidores y aplicaciones con una arquitectura minimalista.
                  Su simplicidad en la creación de rutas y el manejo de middleware lo hace una opción popular para construir aplicaciones web y
                   APIs eficientes y escalables en el entorno Node.js.
            </p>
            <h4>Haz click para saber mas de Express.js</h4>
        </div>
        
    </div>
    <h1> </h1>
</div>
