div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.carta{
    height: 30rem;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(148, 223, 138);
}
.carta:hover{
   
    
    background-color: rgb(141, 196, 99);
}
#cartas{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
img{
    height: 9rem;
    width: 9rem;
}
figure{
    display:flex;
    justify-content: center;
    align-items: center;
}
