
<div id="node">

    <figure > <img src="assets/1200px-Node.js_logo.svg.png" alt="node logo" class="imagen"></figure>
    <h2>¿Que es Node.js?</h2>
    <p>
        Node.js es un entorno de ejecución de JavaScript del lado del servidor,
        diseñado para construir aplicaciones escalables de manera eficiente.
        Desarrollado por Ryan Dahl en 2009,
        Node.js ha ganado una gran popularidad en la comunidad de desarrollo web
            debido a su capacidad para manejar conexiones simultáneas y construir aplicaciones en tiempo real.
    </p>

    <h2>Características Principales de Node.js</h2>
    <ul>
        <li><p>Unifica el uso de JavaScript en el cliente y servidor.</p></li>
        <li><p>Gestiona operaciones simultáneas sin bloquear el hilo principal, garantizando un rendimiento eficiente.</p></li>
        <li><p>Utiliza el motor V8 de Google para una ejecución eficiente y un rendimiento rápido.</p></li>
        <li><p>Node.js es altamente escalable y eficiente, ideal para aplicaciones en tiempo real y sistemas distribuidos.</p></li>
        <li><p>La comunidad activa de Node.js proporciona recursos y soporte valiosos para los desarrolladores.</p></li>
    </ul>
    <figure> <img src="assets/descarga.jpg" alt="node logo" class="imagen"  style=" height: 30rem;"></figure>
    <h2>Casos de Uso Comunes de Node.js</h2>
    <ul>
        <li><p>Node.js es ampliamente utilizado para construir aplicaciones web escalables y de alto rendimiento, especialmente aquellas que requieren actualizaciones en tiempo real.</p></li>
        <li><p>Node.js es una opción popular para construir servicios web y APIs debido a su capacidad para manejar solicitudes concurrentes de manera eficiente.</p></li>
        <li><p>Plataformas de chat, juegos en línea y aplicaciones colaborativas en tiempo real se benefician de la asincronía de Node.js.</p></li>
        <li><p>Node.js es adecuado para la construcción de microservicios gracias a su arquitectura modular y capacidad de escalar fácilmente.</p></li>
        
    </ul>
    <figure> <img src="assets/nodejs_cover_photo_smaller_size.png" alt="node logo" class="imagen"  style="border-radius: 50%; height: 20rem;"></figure>
    <h2>Conclusion</h2>
    <p>
        Node.js ha revolucionado el desarrollo web al proporcionar un entorno de ejecución eficiente y escalable para JavaScript en el lado del servidor.
        Sus características únicas, como la asincronía, el motor V8 y NPM, lo convierten en una opción popular para una variedad de aplicaciones web modernas.
        Su activa comunidad y versatilidad hacen de Node.js una herramienta poderosa en el arsenal de cualquier desarrollador.
    </p>
    <div id="botones">
        <div class="boton" routerLink="">
            <h2>Inicio</h2>
        </div>
        <div routerLink="/express"class="boton">
            <h2>Express</h2>
        </div>
    </div>
    <h1> </h1>
</div>
